/* src/styles/global.css */
@import "./layout.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: #0b0f19;
    color: #e5e7eb;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
  }